#uploadform-imagefile {
    display: none;
}

.field-uploadform-imagefile .control-label {
    font-weight: 400;
}

.field-uploadform-imagefile .control-label:hover {
    cursor: pointer;
}

.fa-6 {
    font-size: 15em !important;
}

.de_light .item h4 {
    text-align: left;
    font-weight: 700;
}

.de_light .item .tiny-border {
    margin-top: 10px;
    margin-bottom: 20px;
}

.detail_item #sidebar h4,
.catalog_item #sidebar h4,
.widget_category h4,
.prop, .tech_prop {
    font-weight: 700;
}

.widget_category li{
     border: none !important;
}

.detail_item .widget ,
.catalog_item .widget,
.widget_category {
      border: none;
}

.detail_item, .catalog_item {
   font-size: 14px;
}

.item {
    margin-top: -10px;   
}

.detail_item .widget_category li ,
.widget_category li{
    padding: 8px 20px 0px 0px;
    margin-bottom: 0px
} 

.tech_block {
    text-align: left;
    font-size: 16px;
    color: #000;
}
.tech_block span {
    font-size: 14px;
    margin-left: 0;
    padding-left: 0;
}  

.tech_block .btn-line{
    margin-top: 20px;
    background: none;
    height: 40px;
    border: 3px solid #ffd200 !important;
    text-transform: none;
    font-size: 16px;
}  
.tech_block .btn:focus {
    outline: none;
}

#mainmenu a {
    font-size: 16px;
    padding-left: 10px;
}

.logo-lg img {
    width: 100%;  
}

header .phone {
    font-size: 22px !important;
    padding-right: 0 !important;
}

header .text-right {
    height: 40px;
}

header .col-md-8 {
    margin-top: 10px;
}

.text_descr {
    font-size: 16px;
    padding-top: 20px;
    padding-left: 10px;
}

.item_img img {
    width: 300px;
    height: 300px;
}	

.catalog_img img {
    width: 262px;
    height: 262px;
}

#gallery .item {
    height: 215px;  
}

.callback_btn:hover {
    cursor: pointer;
}

#logo img {
    width: 174px;
}

#contactform-body {
    width: 100%;
}
    
.modal {
    top: 20% !important;
}

.item_img {
    width: 320px;
    height: 300px;  
}

.parent_cat a {
    color: #000 !important;
    font-weight: 700;
}

.chld_cat  a{
    color: #000 !important;
    font-weight: 400;
}

.main_item_img {
     width: 262px;
     height: 262px;
 }


/*==========================   GRADE   =============================*/
.comment_block {
    height: auto;
    background: #D5D5D5;
    position: relative;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    text-align: center;
    padding: 10px 20px;
    color: #000;
    font-size: 14px;
    font-style: italic;
}
/*
.comment_block:hover {
    background: #FF888D;
}
*/
.comment_block:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
}

/*
.comment_hover .comment_down:before {
    border-top: 7px solid #FF888D;
}
*/
.comment_down:before {
    top: 100%;
    left: 48%;
    border: 7px solid transparent;
    border-top: 7px solid #D5D5D5;
}

.comment_right:before {
    right: 100%;
    top: 40%;
    border-top: 7px solid transparent;
    border-right: 7px solid #D5D5D5;
    border-bottom: 7px solid transparent;
}

/*
.comment_hover .comment_right:before {
    border-right: 7px solid #FF888D;
}
*/

.comment_left, .comment_right {
    height: 80px;
    margin-top: 30px;
    display: table-cell;
    vertical-align: middle;
}

.comment_left p {
    margin-top: 20px !important;
}

.comment_left p, .comment_right p {
    margin: 0;


}

.comment_left:before {
    left: 100%;
    top: 40%;
    border-top: 7px solid transparent;
    border-left: 7px solid #D5D5D5;
    border-bottom: 7px solid transparent;
}
/*
.comment_hover .comment_left:before {
    border-left: 7px solid #FF888D;
}
*/
.comment_top:before {
    bottom: 100%;
    left: 48%;
    border: 7px solid transparent;
    border-bottom: 7px solid #D5D5D5;
}
/*
.comment_hover .comment_top:before {
    border-bottom: 7px solid #FF888D;
}
*/
.circle {
    line-height: 36px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #000;
    width: 147px;
    height: 147px;
    border-width: 3px;
    border-style: solid;
    border-color: #FFD200;
    background-color: #FFFFFF;
    -moz-border-radius: 91px;
    -webkit-border-radius: 91px;
    -khtml-border-radius: 91px;
    border-radius: 91px;
    padding-top: 50px;
    margin: 0 auto;
}

.row_mid {
    margin: 20px 0;
    height: 147px;
}

.item_img .preview_img img{
    width: 93px;
    height: 85px;
    margin: 10px 5px;
}
.item_img .preview_img:first-child img {
    margin-left: 0 !important;
}

.grade {
    margin: 40px 0;
}

.grade3 .circle {
    padding-top: 30px;
}

.main_img {
    margin-left: 5px;
}

.gradeP .comment_left {
    margin-top: 15px;
    height: 125px;
    padding-top: 0;
}

.gradeP .comment_right {
    height: 65px;
    margin-top: 40px;
    display: table-cell;
    vertical-align: middle;
}

.grade2 .comment_left {
    margin-top: 25px;
    height: 105px;
    padding-top: 0;
}

.grade2 .circle {
    padding-top: 55px;
}

.grade2 .comment_right {
    padding-top: 18px;
    margin-top: 35px;
}


.grade3 .comment_left {
    margin-top: 25px;
    height: 105px;
    padding-top: 0;
}

.grade3 .circle {
    padding-top: 55px;
}

.grade3 .comment_right {
    padding-top: 18px;
    margin-top: 35px;
}


.grade4 .comment_left {
    margin-top: 35px;
    height: 85px;
    padding-top: 0;
}

.grade4 .circle {
    padding-top: 55px;
}

.grade4 .comment_right {
    padding-top: 18px;
    margin-top: 30px;
    height: 100px;
}


.grade5 .comment_left {
    margin-top: -5px;
    height: 190px;
    padding-top: 0;
}

.grade5 .circle {
    padding-top: 55px;
}

.grade5 .comment_right {
    padding-top: 18px;
    margin-top: -12px;
    height: 210px;
}

.grade6 {
    margin-top: 100px;
}

.grade6 .comment_left {
    margin-top: -10px;
    height: 205px;
    padding-top: 0;
}

.grade6 .circle {
    padding-top: 55px;
}

.grade6 .comment_right {
    padding-top: 18px;
    margin-top: -12px;
    height: 210px;
}

/*============================= CALCULATOR =============================*/
#calculator {
    margin-top: 20px;
    padding: 20px 0px;
    background-color: #F6F6F6;
    border-width: 2px;
    border-style: solid;
    border-color: #E4E4E4;
}

select.grade {
    width: 150px;
    background: white;
    text-align: center;
    text-align-last: center;
    margin-bottom: 20px;
}
.input_values {
    margin-top: 20px;
    font-size: 12px;

}
.input_values p{
    text-align: left;
    font-size: 13px;
    line-height: 17px;
    word-wrap: break-word;
    margin-bottom: 10px;
}

.input_values input {
    width: 80%;
}

.input_values div, .price_block {
    padding: 0;
}

.out_value {
    text-align: end;
    margin-top: 62px;
}

#amount {
    background: #F6F6F6;
    border: none;
    width: 40px;
    margin-left: 5px;
    font-size: 18px;
}

.range_slider label {
    font-weight: 400;
}

.left_range, .right_range {
    padding:  0;
    font-size: 12px;
    margin-top: 10px;
}

.right_range {
    text-align: right;
}

#slider-range-max {
    background: #FFD200;
    border: none;
    height: 5px;
}

.ui-slider-horizontal .ui-slider-range-max {
    background: white;
}

.ui-corner-all {
    background: white;
}

span.ui-slider-handle {
    width: 24px !important;
    height: 24px !important;
    border-radius: 24px;
    top: -10px !important;
}

span.ui-state-hover, span.ui-state-active {
    border: 1px solid #c5c5c5 !important;
    background: #f6f6f6!important;
}

span.ui-slider-handle:active, span.ui-slider-handle:focus { outline: none; }

#price_list {
    display: none;
}

.btn-add_to_cart {
    float: right;
}

.profile_pic h3 {
    height: 25px;
}

.out_value {
    font-size: 18px;
    line-height: 15px;
}

.out_value span {
    font-size: 30px;
    color: #000000;
    font-weight: 700;
}

input.order_btn {
    font-size: 22px;
    color: #000 !important;
    height: 50px !important;
    border-width: 3px !important;
}

.item_block {
    margin-bottom: 50px;
}

/*==============================================================*/

.address-style-2, .address-style-2 a, .address-style-2 span strong, body.de_light {
    color: #000;
}

#section-news ul {
    list-style: none;
    padding-left: 0;
}

.text_descr ul li:before {
    content: "-";
    font-weight: 700;
    margin-right: 5px;
    float: left;
}

#overlay {
    background: #666;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    position: fixed;
    cursor: pointer;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
}



#sidebar .widget_category {
    border-bottom: 0;
    margin-bottom: 0;
}

.bread_block {
    padding: 0;
    border-bottom: 1px solid #E9E9E9;
    margin: 0 20px;
}

.bread_block a {
    color: #000;
}


.bread_block h2 {
    font-size: 30px;
    font-family: pt-sans, sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
}

#sidebar {
    border-right: 1px solid #E9E9E9;
    padding-right: 0;
    padding-top: 20px;
}

#subheader {
    padding-bottom: 125px !important;
}
section {
    padding: 20px 0 80px 0 !important;
}

.blog-list .post-image {
    height: 380px;
}

.blog-list .post-image img {
    width: auto !important;
}


.products {
    margin-top: 30px;
    margin-left: 10px;
}